settings.json
build
*.csv
venv
v2/results
*.cnfg
*.d
*.o
*.synctex.gz
*.log
*.fls
*.fdb_latexmk
*.aux
live.main.tex





# Ignore executable files
*.exe
*.out
*.app
*.jar
*.war
*.ear
*.class


# ignore specific files
v1/main/.nfs*
v1/main/schwinger
